<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpRuntime maxRequestLength="8192" />
		<!-- Valor em (8 GB) -->
	</system.web>
	
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4294967295" />
				<!-- Valor em bytes (4 GB) -->
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>