<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestao Ftth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControleGestaoFtth.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-grid">

        <div class="nav-user bg-primary">

            <div>
                <i class="fa fa-bars" role="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
            </div>
            <div class="title">
                <div class="title-text"><a role="button" asp-area="" asp-controller="Dashboard" asp-action="Index">GESTÃO FTTH</a></div>
            </div>
            <div>
                <a>Função | Usuário</a><i class="fa fa-user" aria-hidden="true"></i>
            </div>

         </div>

       <div class="nav-bar">
            <div class="menu collapse" id="collapseExample">
                <ul class="navbar-home">
                    <li id="home-icon">
                        <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-television" aria-hidden="true"></i>DASHBOARD</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="toggleBtn" data-bs-toggle="collapse" href="#netwin"><i class="fa fa-database" aria-hidden="true"></i>Base Netwin</a>
                    </li>
                </ul>
                <ul class="nav-dropdown collapse" id="netwin">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="EnderecoTotais" asp-action="Index">Endereços Totais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="MaterialRede" asp-action="Index">Materiais de Rede</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="toggleBtn" data-bs-toggle="collapse" href="#add"><i class="fa fa-plus-circle" aria-hidden="true"></i>Adicionar<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="nav-dropdown collapse" id="add">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Estacao" asp-action="Index">Estação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Netwin" asp-action="Index">Viabilidade</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="EstadoCampo" asp-action="Index">Estado de Campo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="TipoObra" asp-action="Index">Tipo de Obra</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="toggleBtn" data-bs-toggle="collapse" href="#servico"><i class="fa fa-cubes" aria-hidden="true"></i>Serviços<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <ul class="nav-dropdown collapse" id="servico">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="TesteOptico" asp-action="Index">Teste Óptico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="" asp-action="Index">Análise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Gestao" asp-action="Index">Gestão</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="" asp-action="Index">Projeto</a>
                    </li>
                </ul>
            </div>
       </div>
       <div class="main-container">
            @RenderBody()
       </div>
        <div class="footer-st bg-primary">
            <a>&copy; 2022 - Controle de Gestao FTTH</a>
        </div>
        <div class="footer-stp">
            <a>&copy; 2022 - Controle de Gestao FTTH</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
