/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.nav-bar {
    width: 180px;
    font-size: 1.0rem;
    background-color: #696969;
}

.title {
    height: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5rem;
}

.sub-title {
    color: #C0C0C0;
    font-size: 0.7rem;
    font-weight:bold;
    text-decoration:none;
    margin-bottom: 0.9rem;
    margin-top: 0.6rem;
}

.footer-st {
    padding: 3px;
    font-size: 0.6rem;
    background-color: #4F4F4F;
    color: #C0C0C0;
}

.main-container{
    left: 180px;
    right: 0;
}
