<form method="post" enctype="multipart/form-data" asp-action="Importar" asp-controller="TesteOptico">
    <div class="d-flex justify-content-between">
        <div class="form-group">
            <input type="file" name="file" id="file" class="form-control-file">
        </div>
        <button id="btnUpload" type="submit">Upload</button>
    </div>
</form>

<hr>
<div id="display-view">
    @await Html.PartialAsync("~/Views/ProgressBar/Index.cshtml")
</div>
