<form method="post" enctype="multipart/form-data" asp-controller="TesteOptico" asp-action="Importar" class="was-validated">
    <div class="d-flex justify-content-between">
        <div class="form-group">
            <input type="file" name="file" id="file" class="form-control-file" required>
        </div>
        <button id="btnUpload" type="submit">Upload</button>
    </div>
</form>

<hr>
<div id="display-view">
</div>
