@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Construtora>
@{

    ViewData["Title"] = "Construtora";

}

<!-- Alert para tratamento de exceções -->
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close-alert text-success" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a>@TempData["Sucesso"]</a>
    </div>
}
@if (TempData["Falha"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close-alert text-danger" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a>@TempData["Falha"]</a>
    </div>
}
<!-- End  Alert-->
<!-- Menu button vertical -->
<div id="menuBarVertical">
    <a role="button" asp-controller="Construtora" asp-action="Inserir" id="btnRoles" class="btn btn-primary btn-sm" style="padding-top:0.4rem;">Adicionar</a>
</div>
<!-- End -->
<!-- Menu dropdown -->
<div class="container-filter-sm">

    <div class="form-group">
        <label>Construtora</label>
        @Html.DropDownList("selectConstrutora", new SelectList(ViewBag.selectConstrutora,"Nome","Nome"), "--Todos--",new { @id="dropConstrutora", @class="custom-select"})
    </div>

</div>
<!-- End -->
<!-- Display partial view base ftth  -->
<div id="ftthLista">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-secondary m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- End Display -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a class="modal-title" id="exampleModalLabel">-- Descrição --</a>
            </div>
            <div class="modal-body">

                <!--Conteudo Display-->
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-secondary m-5" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <!-- End -->

            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
@section Scripts
    {
    <script>
        //FUNÇÃO REPONSÁVEL PELAS ACÕES JS/JQUERY DA VIEW INDEX CONSTRUTORA
        function ConstrutoraIndex() {

            //VARIAVEIS GLOBAIS LOCAL
            var nomeConstrutora = "";

            //FUNÇÃO DE ATUALIZAÇÃO DISPLAY PARTIALVIEW
            const ftth = (url) => $.get(url,
                {}, function (resposta) {
                    $('#ftthLista').html($(resposta).html());
                    return false;
                });

            //SPINNER LOADER
            const spinnerFtth = (display) => {
                $(display).html(`
                                                <div class= "d-flex justify-content-center">
                                                    <div class="spinner-border text-secondary m-5" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            `   )
            }

            // ATUALIZAR DISPLAY PARTIAL VIEW
            ftth('Construtora/listar');

            //FILTRO DROPDOWNLIST ESTACAO
            $('#dropConstrutora').on('change', function () {
                //CARREGAR SPINNER LOADER
                spinnerFtth('#ftthLista');

                //CARREGAR VALOR DROPDOWN NA VARIAVEL
                nomeConstrutora = $('#dropConstrutora').val();

                //CARREGAR TABELA GRID
                ftth('Construtora/listar?nome=' + nomeConstrutora);
                return false;
            });

            //PAGINAÇÃO DA TABELA GRID
            $('#ftthLista, #paged').on('click', '.btnPaged', function () {
                //CARREGAR SPINNER LOADER
                spinnerFtth('#ftthLista');

                //ARMAZENAR HREF EM EXECUÇÃO
                let urlFtth = $(this).find('a').attr('href');

                //CARREGAR GRID VIEW COM OS FILTROS DA BASE FTTH
                ftth(urlFtth + '&nome=' + nomeConstrutora);
                return false;
            });

            //PEGAR VALORES DA TABELA PARA REQUISIÇÃO ATUALIZAR
            $('#ftthLista').on('click', '.tableFtth', function () {

                //VARIAVEL PEGA ID DE REGISTRO DA GRID VIEW
                carregarId = $(this).attr("data-id");

                //CARREGAR DETAHLE VIEW E CHAMAR O COLLAPSE MODAL
                $.get('Construtora/Detalhe?id=' + carregarId,
                    {}, function (resposta) {
                        //CARREGAR SPINNER LOADER
                        spinnerFtth('modal-body');

                        //CARREGAR PARTIAL VIEW
                        $('.modal-body').html($(resposta).find('#displayDetalheFtth').html());
                        return false;
                    });

                //CARREGAR ATRIBUTOS MODAL
                $(this).find('#exampleModal').modal({
                    keyboard: true,
                    backdrop: "static",
                    show: false,

                });
            });

            //CARREGAR VALORES A SEREM EDITADOS NA PAGINA EDITAR
            $('.modal-content').on('click', '#editarFtth', function () {
                window.location.href = 'Construtora/Editar?id=' + carregarId;
            })

        } (ConstrutoraIndex());
    </script>
        }

