@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Construtora>
@{

    ViewData["Title"] = "Construtora";

}

<div>

    <button type="button" class="btn btn-primary btn-sm">Modelo Base</button>
    <button type="button" class="btn btn-warning btn-sm">Importar Base</button>

</div>

<div class="container-filter">

     <div class="form-group" id="estacao">
         <label>Estação</label>
         @Html.DropDownList("selectEstacao",new SelectList(ViewBag.selectEstacao,"NomeEstacao","NomeEstacao"), "--Todos--",new { @id="dropEstacao", @class="custom-select"})
     </div>

    <div id="filterMenu">
    </div>

</div>

<div id="ftthLista">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-secondary m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="modal-title" id="exampleModalLabel">Ficha Técnica</a>
                </div>
                <div class="modal-body">

                    <!--Conteudo Display-->
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-secondary m-5" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Editar</button>
                </div>
            </div>
        </div>
    </div>






