@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Construtora>
@{
    ViewData["Title"] = "Construtora";
}

<div id="listaFtth">@await Html.PartialAsync("_Listar", Model)</div>

<div class="d-flex justify-content-center">
    @Html.PagedListPager(
        Model, pagina =>
        Url.Action("Index", new { pagina }),
        new X.PagedList.Web.Common.PagedListRenderOptions(){
        LiElementClasses = new List<string>{"btn btn-outline-dark btn-sm"}
        })
 </div>
