@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Construtora>
@{

    ViewData["Title"] = "Construtora";

}

<div>

    <button type="button" class="btn btn-primary btn-sm">Modelo Base</button>
    <button type="button" class="btn btn-warning btn-sm">Importar Base</button>

</div>

<div class="container-filter">

    <div class="form-group">
        <label>Estação</label>
        @Html.DropDownList("selectEstacao",new SelectList(ViewBag.selectEstacao,"NomeEstacao","NomeEstacao"), "--Selecionar--",new { @id="dropEstacao", @class="custom-select"})
    </div>

</div>

<div id="ftthLista">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-secondary m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>



