@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Construtora>
@{
    ViewData["Title"] = "Construtora";
}

<div>

    <button type="button" class="btn btn-primary btn-sm">Modelo Base</button>
    <button type="button" class="btn btn-warning btn-sm">Importar Base</button>

</div>

<div class="container-filter">

    <div class="form-group">
    <label>Estação</label>
        <select value="@ViewBag.EstacaoId" class="custom-select">
            <option selected></option>
        </select>
    </div>

    <div class="form-group">
    <label>CDO</label>
    <select class="custom-select">
        <option selected></option>
        <option>Small select</option>
    </select>
    </div>

    <div class="form-group">
    <label>Cabo</label>
    <select class="custom-select">
        <option selected></option>
        <option>Small select</option>
    </select>
    </div>

    <div class="form-group">
    <label>Celula</label>
    <select class="custom-select">
        <option selected></option>
        <option>Small select</option>
    </select>
    </div>

</div>

<div id="ftthLista">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-secondary m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>



