@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Construtora>
@{

    ViewData["Title"] = "Construtora";

}

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close-alert text-success" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sucesso! </strong>@TempData["Sucesso"]
    </div>
}
@if (TempData["Falha"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close-alert text-danger" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error! </strong>@TempData["Falha"]
    </div>
}

<div id="menuBarVertical">
    <a role="button" class="btn btn-primary btn-sm" style="padding-top:0.4rem;">Adicionar</a>
    <hr class="divisorMenu m-0 p-0 ms-3">
    <button type="button" class="btn btn-primary btn-sm ms-3">Modelo Base</button>
    <button type="button" class="btn btn-warning btn-sm ms-2">Importar Base</button>
</div>

<div class="container-filter">

     <div class="form-group" id="estacao">
         <label>Estação</label>
         @Html.DropDownList("selectEstacao",new SelectList(ViewBag.selectEstacao,"NomeEstacao","NomeEstacao"), "--Todos--",new { @id="dropEstacao", @class="custom-select"})
     </div>

    <div id="filterMenu">
    </div>

</div>

<div id="ftthLista">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-secondary m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="modal-title" id="exampleModalLabel">Ficha Técnica</a>
                </div>
                <div class="modal-body">

                    <!--Conteudo Display-->
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-secondary m-5" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" id="editarFtth" class="btn btn-primary">Editar</button>
                </div>
            </div>
        </div>
    </div>






