@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<Enderecostotais>
@{

    ViewData["Title"] = "Endereços Totais";

}

<!-- Alert para tratamento de exceções -->
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close-alert text-success" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a>@TempData["Sucesso"]</a>
    </div>
}
@if (TempData["Falha"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close-alert text-danger" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a>@TempData["Falha"]</a>
    </div>
}
<!-- End  Alert-->
<!-- Menu button vertical -->
<div id="menuBarVertical">
    <button data-bs-toggle="modal" id="baseImport" data-bs-target="#modelImport" class="btn btn-warning btn-sm ms-3 ms-2">Importar CSV</button>
</div>
<!-- End -->
<!-- Modal -->
<div class="modal fade" id="modelImport" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="d-flex m-0">
            <div class="modal-content m-0">
                <div class="modal-header m-0 p-0">
                    <a class="modal-title w-100 text-center">-- Importar CSV Endereços Totais --</a>
                    <button type="button" id="close-model" class="close m-0 p-0" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <!--Conteudo Display-->
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

@section Scripts
    {
    <script>
        //FUNÇÃO REPONSÁVEL PELAS ACÕES JS/JQUERY DA VIEW INDEX CONSTRUTORA
        function EnderecoTotaisIndex() {
            //SPINNER LOADER
            const spinnerFtth = (display) => {
                $(display).html(`
                                                <div class= "d-flex justify-content-center">
                                                    <div class="spinner-border text-secondary m-5" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </div>
                                                </div>
                                            `   )
            }
        //IMPORTAR MODELO BASE
            $('#baseImport').on('click', function () {
                //CARREGAR SPINNER LOADER
                spinnerFtth('.modal-body');
                //CARREGAR MODEL DE IMPORTAÇÃO MODELO BASE
                $.get('EnderecoTotais/Importar',
                    {}, function (resposta) {
                        $('.modal-body').html(resposta);
                        return false;
                    });
                return false;
            });

            //UPLOAD MODELO IMPORTAÇÃO BASE
            $('.modal-body').on('submit', 'form', function () {
                $(this).find("button[type='submit']").prop('disabled', true);
                $('.modal-header #close-model').attr("disabled", "disabled");
                setInterval(function () {
                    $.get('/ProgressBar',
                        {}, function (resposta) {
                            $('.modal-body #display-view').html(resposta);
                             return false;
                        });
                }, 100);
            });

        } (EnderecoTotaisIndex());
    </script>
    }
