@media only screen and (max-width: 768px) {

    #plCdo {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    #plCelula {
        position: absolute;
        bottom: 0;
    }

    #plCabo {
        position: absolute;
    }

    .container-filter {
        position:relative;
        height: 115px;
    }
}

    .modal{
        overflow-y:scroll;
    }

    .nav-link {
        color: #CDCDCD;
    }

    .nav-link:focus, .nav-link:hover {
         color: #ffffff;
    }

    .title-text {
        font-weight: bold;
        text-align: center;
        border: 2px solid white;
        padding: 0.4rem;
    }

    .title-text a {
        text-decoration: none;
        color: #ffffff;
    }

    .title{
        display:none;
    }

    .bk-full {
        background-image: url("/images/Bk.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .graficoGeral {
        padding: 0.5rem;
        height: 400px;
    }

    .container-filter {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #filterMenu {
        display: flex;
    }

    .container-filter .custom-select {
        display: grid;
        margin-right: 1rem;
        width: 180px;
        font-size: 0.9rem;
        font-weight: 600;
    }

   label{
        font-weight: 600;
        font-size: 0.9rem;
        padding-bottom:0.2rem;
   }

    #paged .btn {
         height: 30px;
         margin: 0.1rem;
    }

    #paged .btn a {
        text-decoration: none;
        color: #000000;
    }

    #paged .btn:hover a{
        color: #ffffff;
    }

    .tableFtth {
        color: #1C1C1C; /*#363636*/
        font-size: 0.8rem;
        font-weight: 700;
    }

    #ftthLista tbody table{
        width: 100%;
    }

    #ftthLista tbody table td {
        padding: 0.2rem;
        background-color: #ffffff;
        border: 1px solid #2A2A33;
    }

    #ftthDetalhe {
        display: table;
        font-size: 0.8rem;
        font-weight: 600;
        width: 565px;
    }

    #ftthDetalhe a{
        font-style:italic;
        margin-left: 0.3rem;
    }

    #ftthDetalhe tr td {
        padding: 0.2rem;
        padding-left: 0.5rem;
        border: 5px solid #ffffff;
        word-break: break-word;
        background-color: #F2F2F2;    
        font-size: 0.8rem;
        font-weight:600;
        color: #000000;
    }

    #ftthDetalhe .fa{
        font-size: 1.1rem;
        color: #2A2A33;
        position:absolute;
        right:2rem;
        padding-top: 0.1rem;


    }

   #effectTableFtth:hover {
        border: 2px solid #2A2A33;
    }

    #ftthLista table td {
        padding: 0.5rem;
        background-color: #ECF0F1;
        padding-bottom: 0.5rem;
        font-weight: 600;
    }

    #ftthLista table td a{
        padding: 0.3rem;
        font-style:italic;
    }

    #ftthLista table td p{
         padding: 0.2rem;
         font-weight: 600;
         font-style: italic;
    }

    #ftthLista #rowTitle a {
        padding: 0.2rem;
        font-weight: 600;
        font-style: italic;
    }

    .modal-content {
        min-width: 600px;
    }

    .modal{
        padding-right: 6.4rem;
    }

    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        text-decoration: none;
        font-weight: 600;
        color: #000000
    }

    .modal-header {
        justify-content: center;
    }

